= form_for @matome do |f|
  - if @matome.errors.any?
    #error_explanation
      %h2= "#{pluralize(@matome.errors.count, "error")} prohibited this matome from being saved:"
      %ul
        - @matome.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :discription
    = f.text_area :discription
  .field
    = f.label :like
    = f.number_field :like
  -# .field
  -#   = f.label :user
  -#   = f.text_field :user
  .actions
    = f.submit 'Save'
