%hr
.card.novel-card.mx-2{:style => "background-color: #efefef;"}
  .card-title.p-2.mb-0{:style => "margin-bottom: 0px; font-size:18px; line-height:160%; color: blue !important;"}
    //TODO urlを持って入ればリンク、持っていなかったらリンクにしないように分ける
    = link_to novel.url, target: "_blank" do
      .novel-title-link.font-weight-bold
        #{novel.title}
        .fa.fa-external-link
  .m-1{style: "background-color:white; border: dashed 2px #cccccc;"}
    -# .fa.fa-book.fa-2x.ml-2.mt-2
    = simple_format(novel.review,style: "font-size:15px; line-height:160%;", class: "font-weight-bold p-2 mb-0")
  .card-body.pl-2.pt-0.pb-2{:style => "min-height:100px;"}
    .text_overflow
      【あらすじ】
      = simple_format(novel.description,:style => "font-size:14px; line-height:160%;")
    = link_to novel.url, target: "_blank" do
      .novel-title-link.mt-1
        新しいタブで開く
        .fa.fa-external-link
    - if current_user.id == 1
      = link_to edit_novel_path(novel) , target: "_blank" do
        .novel-title-link.mt-1
          小説情報を編集する
          .fa.fa-external-link
