%h2.text-center なろうまとめ

-# フラッシュメッセージ
- flash.each do |key, value|
  %div{:class => "alert alert-#{key}"}
    .container
      = value

.container.m-0.p-0
  - @matomes.each do |matome|
    = link_to(matome_path(matome)) do
      .card.mx-auto.p-2{:style => "background-color: #F5F5F5;"}
        .card-title.mb-0
          .font-weight-bold{:style => "font-size:18px; color: black;"}
            = matome.title
            -# = matome.user.name
        -# %hr.m-1
        .card-body.p-0{style: "color: #666;" }
          = matome.description
          .container
            .row
              .small.text-muted.p-1.pt-2.pl-5{:style => "font-size:11px"}
                %span{"class"=>"comment-count"}
                = matome.created_at.strftime("%Y/%m/%d/ %H:%M")
                【#{matome.impressionist_count} PV】

%br

- if user_signed_in?
  = link_to new_matome_path do
    .btn.btn-primary
      新規まとめ作成
  .m-2
  = link_to destroy_user_session_path, method: :delete do
    .logout-button.btn.btn-primary
      ログアウト
- else
  = link_to new_user_session_path do
    .btn.btn-primary
      ログイン
