= render partial: "flash-message"

.container-fluid.m-0.p-0
  .card{:style => "background-color: #efefef;"}
    .card-title.p-2.mb-0
      .pl-2.font-weight-bold{:style => "font-size: 22px;"}
        = @matome.title
    .card-body.px-3.py-2.text-muted
      -# .fa.fa-user-o.fa-2x.mr-1
      = @matome.description

  = link_to user_path(@matome.user) do
    .card.mx-3.my-2
      .card-body.px-3.py-0
        この記事は私がまとめました
        .fa.fa-user-o.pl-2
          = @matome.user.name
        .fa.fa-arrow-right.text-muted

  #novel-cards
    - @novels.each do |novel|
      = render partial: "novel-card", locals: { novel: novel }


  = link_to 'Edit', edit_matome_path(@matome)
  \|
  = link_to 'Back', root_path


  - if user_signed_in? && @matome.user_id == current_user.id
    .row.m-3
      / 切り替えボタンの設定
      %button.btn.btn-primary.btn-add-novel{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        = fa_icon 'pencil'
        小説を追加する
      = render partial: "add-novel-modal", locals: { novel: @novel, matome: @matome }

= render partial: "layouts/popular-article"
