%p#notice= notice

%p
  %b Title:
  = @novel.title
%p
  %b Discription:
  = @novel.discription
%p
  %b Review:
  = @novel.review
%p
  %b Url:
  = @novel.url
%p
  %b Amazon url:
  = @novel.amazon_url
%p
  %b Matome:
  = @novel.matome

= link_to 'Edit', edit_novel_path(@novel)
\|
= link_to 'Back', root_path
