.row.mx-3.mb-2
  .card{style: "border-color: black; background-color: rgb(240, 253, 255); font-size: 14px;"}
    .font-weight-bold.pl-2
      人気記事
    .card-body.px-3{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
      = link_to "1 : 小説家になろう「男女美醜逆転もの」のおすすめまとめ！", "https://narou-matome.com/matomes/21", target: "_blank"
    %hr{style: "margin: 4px;"}
    .card-body.px-3{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
      = link_to "2 : とりあえず勘違い系ならこれを読んどけばいい的まとめ", "https://narou-matome.com/matomes/18", target: "_blank"
    %hr{style: "margin: 4px;"}
    .card-body.px-3{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
      = link_to "3 : 小説家になろうで「伏線回収がすごい」小説のまとめ！", "https://narou-matome.com/matomes/8", target: "_blank"
    %hr{style: "margin: 4px;"}
    .card-body.px-3{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
      = link_to "4 : 小説家になろうのおすすめTS小説まとめ", "https://narou-matome.com/matomes/6", target: "_blank"
    %hr{style: "margin: 4px;"}
    .card-body.px-3{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
      = link_to "5 : [R18]ノクターンノベルのクリムゾン的小説のおすすめ！", "https://narou-matome.com/matomes/3", target: "_blank"
    %hr{style: "margin: 4px;"}
