!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title NarouMatome
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = include_gon
    -# = javascript_include_tag "application"
  %body
    -# .container.m-0.p-0
    -# 何かをヘッダーに追加したくなったら以下のページを見る。
    -# http://cccabinet.jpn.org/bootstrap4/components/navbar
    %nav.navbar.navbar-expand-lg.navbar-light.bg-white
      = link_to "なろうまとめ", root_path, class: "navbar-brand-center mx-auto d-block"
      %button.navbar-toggler{"aria-controls" => "Navber", "aria-expanded" => "false", "aria-label" => "ナビゲーションの切替", "data-target" => "#Navber", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #Navber.collapse.navbar-collapse
        -# %ul.navbar-nav.mr-auto
        -#   %li.nav-item
        -#     %a.fa.fa-home.fa-2x.ml-3{:href => root_path}
        %ul.navbar-nav.ml-auto
          %li.nav-item
            - if user_signed_in?
              .fa.fa-user-o
              = current_user.name
              さん
              = link_to new_matome_path do
                .btn.btn-outline-primary
                  新規まとめ作成
              = link_to destroy_user_session_path, method: :delete do
                .logout-button.btn.btn-outline-danger
                  ログアウト
            - else
              = link_to new_user_session_path do
                .btn.btn-primary
                  ログイン
    -# ヘッダーを.fixed_topする場合、以下が必要
    -# %div{style: "height: 54px;"}


    = yield
